    window-rule {
        geometry-corner-radius 12
        clip-to-geometry true
    	draw-border-with-background false
    	opacity 1.0
    	open-focused true
    	background-effect {
    	    blur true
    	    xray false
    	}

    	popups {
            geometry-corner-radius 12
            opacity 0.95
    	    background-effect {
    	        blur false
    		    xray true
    	    }
    	}
    }

    window-rule {
    	match app-id="foot"
    	default-column-width { proportion 0.5; }
    }

    window-rule {
    	match app-id=r#"^thunar$"# title=r#"^Rename "#
    	open-floating true
    	max-width 350;
    	max-height 150;
    	default-floating-position x=0 y=650 relative-to="top"
    }

    window-rule {
        match app-id="thunar"
        background-effect {
            xray true
        }
    }

    window-rule {
        match app-id="com.gabm.satty"
    	match app-id="mpv"
        opacity 1.0
    }

    window-rule {
        match app-id="thunar"
    	match app-id="com.gabm.satty"
        open-floating true
        default-column-width { proportion 0.66667; }
        default-window-height { proportion 0.66667; }
    }

    window-rule {
        match title="Visual Studio Code"
    	match app-id="vesktop"
    	match title="Obsidian"
    	match title="Zen"
    	match app-id="dev.zed.Zed"
	    match app-id="mpv"
	    match title="Helium"
	    default-column-width { proportion 1.0; }
    }

    window-rule {
    	match app-id="kcalc"
    	open-floating true
    	max-width 300
    	max-height 300
    	default-floating-position x=10 y=15 relative-to="top-left"
    	background-effect {
    	    blur false
    	    xray true
    	}
    }

    window-rule {
    	match title="Visual Studio Code"
    	match title="Obsidian"
    	match app-id="dev.zed.Zed"
    	open-on-workspace "code"
    }

    window-rule {
    	match app-id="vesktop"
    	open-on-workspace "chat"
    	open-focused false
    }

    window-rule {
	    match app-id="Spotify"
    	open-on-workspace "music"
    	open-focused false
    }

    window-rule {
    	match is-active=true
    	shadow {
    	    on
	        softness 1
	        spread -1
	        offset x=15 y=15
    	    color "#b994a8CC"
    	}
    }

    window-rule {
    	match is-floating=true
    	shadow {
    	    on
	        softness 1
	        spread -1
	        offset x=15 y=15
    	    color "#b994a8CC"
    	}
    }

    window-rule {
    	match app-id="gsr-notify"
    	default-floating-position x=0 y=0 relative-to="top-left"
    	open-focused false
    }

    window-rule {
    	match app-id="polkit-gnome-authentication-agent-1"
    	background-effect {
	    blur false
	    xray true
	}

	shadow {
	    draw-behind-window false
    	}
    }

    layer-rule {
    	match namespace="^wallpaper$"
    	match namespace="^noctalia-wallpaper*"
    	place-within-backdrop true
    }

    layer-rule {
        match namespace="^launcher$"
        background-effect {
            blur true
            xray true
        }
    }

    layer-rule {
    	match namespace="notifications"
    	match namespace="noctalia-osd-eDP-1"
    	match namespace="noctalia-toast-eDP-1"
    	shadow {
	        draw-behind-window true
    	}
    }

    layer-rule {
    	match namespace="^launcher$"
    	match namespace="notifications"
    	match namespace="noctalia-osd-eDP-1"
    	opacity 1.0 // main
    	geometry-corner-radius 12
    	shadow {
    	    on
    	    softness 1
    	    spread -1
    	    offset x=15 y=15
    	    color "#b994a8CC"
    	}
    }
